{% extends "P2M/Base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Agropro</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/static/P2M/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/static/P2M/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/static/P2M/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/static/P2M/images/fevicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="/static/P2M/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/static/P2M/css/bootstrap-datepicker.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->

    <!-- end loader -->
    <div class="full_bg">
        <!-- header -->



        <!-- end header inner -->
        <!-- top -->
        <div class="slider_main">
            <!-- carousel code -->
            <div id="banner1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#banner1" data-slide-to="0" class="active"></li>
                    <li data-target="#banner1" data-slide-to="1"></li>
                    <li data-target="#banner1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <picture>
                            <source srcset="/static/P2M/images/banner.jpg">

                            <img srcset="/static/P2M/images/banner.jpg" alt="responsive image"
                                class="d-block img-fluid">
                        </picture>
                        <div class="carousel-caption relative">

                        </div>
                    </div>
                    <!-- /.carousel-item -->
                    <div class="carousel-item">
                        <picture>

                            <img srcset="/static/P2M/images/banner.jpg" alt="responsive image"
                                class="d-block img-fluid">
                        </picture>
                        <div class="carousel-caption relative">

                        </div>
                    </div>
                    <!-- /.carousel-item -->
                    <div class="carousel-item">
                        <picture>

                            <source srcset="/static/P2M/images/banner.jpg">
                            <source srcset="/static/P2M/images/banner.jpg">
                            <source srcset="/static/P2M/images/banner.jpg">
                            <img srcset="/static/P2M/images/banner.jpg" alt="responsive image"
                                class="d-block img-fluid">
                        </picture>
                        <div class="carousel-caption relative">

                        </div>
                    </div>
                    <!-- /.carousel-item -->
                </div>
                <!-- /.carousel-inner -->
                <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="willom">
                            <h1 id="jdida"> Smart Farm in Tunisia</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-lg-6 col-md-12">
                    <div class="titlepage text_align_left">
                        <span>About Us</span>
                        <h2>AGRICULTURE MARKET</h2>
                        <p>We're on a mission to transform the agricultural landscape of Tunisia through advanced
                            technology and innovation. With
                            our smart farm solutions, we empower farmers to optimize their agricultural practices,
                            making farming more efficient,
                            sustainable, and profitable.</p>
                        <a class="read_more" href="about.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row d_flex">
                        <div class="col-md-7">
                            <div class="about_img">
                                <figure><img src="/static/P2M/images/about_img.jpg" alt="#" />
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="about_img">
                                <figure><img src="/static/P2M/images/about_img1.jpg" alt="#" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- services -->
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_left">
                        <span>What We Do</span>
                        <h2>SERVICES WE OFFER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services_box_main">
                        <div class="services_box text_align_left">
                            <figure><img src="/static/P2M/images/service1.jpg" alt="#" /></figure>
                            <div class="veget">
                                <h3>ORGANIC<br>PRODUCTS</h3>
                                <p>Our organic products are not just food; they're a testament to our dedication to
                                    quality, health, and environmental
                                    stewardship.</p>
                            </div>
                        </div>
                        <a class="read_more" href="{% url 'P2M-about' %}">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services_box_main">
                        <div class="services_box text_align_left">
                            <figure><img src="/static/P2M/images/service2.jpg" alt="#" /></figure>
                            <div class="veget">
                                <h3>SENSOR DETECTORS &<br>CROP RECOMMENDs</h3>
                                <p>
                                    Discover how we're transforming the landscape of farming with insight.
                                </p>
                            </div>
                        </div>
                        <a class="read_more" href="{% url 'sensors' %}">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services_box_main">
                        <div class="services_box text_align_left">
                            <figure><img src="/static/P2M/images/Service3.jpg" alt="#" /></figure>
                            <div class="veget">
                                <h3>PLANT<br>DISEASE</h3>
                                <p> We empower Tunisian farmers with the tools needed to detect, prevent,
                                    and combat plant diseases effectively,
                                    ensuring healthy crops and harvests.</p>
                            </div>
                        </div>
                        <a class="read_more" href="{% url 'P2M-disease' %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end services -->
    <!-- customers -->
    <div class=" customers">
        <div class="clients_bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titlepage text_align_left">
                            <span>Our Customers</span>
                            <h2>TESTIMONAILS</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start slider section -->
        <div id="myCarousel" class="carousel slide clients_banner" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-md-6">
                                    <div class="custom">
                                        <div class="d_flex">
                                            <i><img id="carousel-image" src="/static/P2M/images/customer1.jpg"
                                                    alt="#" /></i>
                                            <div class="clint">
                                                <h4>Monia, Kairouan</h4>
                                                <span>Client</span>
                                            </div>
                                        </div>
                                        <p>Your smart farming solutions have completely transformed how I approach
                                            agriculture. Now, I make decisions based on
                                            real-time data, leading to better yields, reduced waste, and increased
                                            profits. It's not just farming; it's farming with
                                            precision.</p>
                                        <img src="/static/P2M/images/test.png" alt="#" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom">
                                        <div class="d_flex">
                                            <i><img id="carousel-image" src="/static/P2M/images/customer2.jpg"
                                                    alt="#" /></i>
                                            <div class="clint">
                                                <h4>Mohamed Hedi, Sfax</h4>
                                                <span>Client</span>
                                            </div>
                                        </div>
                                        <p>Integrating your smart farming technologies has revolutionized my
                                            agricultural practices. Decisions are now driven by
                                            immediate data insights, resulting in enhanced crop production.
                                            This isn't merely farming—it's precision agriculture at its
                                            finest.</p>
                                        <img src="/static/P2M/images/test.png" alt="#" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-md-6">
                                    <div class="custom">
                                        <div class="d_flex">
                                            <i><img id="carousel-image" src="/static/P2M/images/customer3.jpeg"
                                                    alt="#" /></i>
                                            <div class="clint">
                                                <h4>Yassine Chebbi, Sousse</h4>
                                                <span>Farmer</span>
                                            </div>
                                        </div>
                                        <p>The team at SmartFarm has been instrumental in our farm's success.
                                            Their expertise and personalized support
                                            have helped us overcome challenges and seize new opportunities. With their
                                            guidance, we've been able to adopt more
                                            efficient, sustainable farming techniques that have truly made a difference.
                                        </p>
                                        <img src="/static/P2M/images/test.png" alt="#" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom">
                                        <div class="d_flex">
                                            <i><img src="/static/P2M/images/customer2.jpg" alt="#" /></i>
                                            <div class="clint">
                                                <h4>Mor Balan</h4>
                                                <span>Client</span>
                                            </div>
                                        </div>
                                        <p>Innovation is key to staying competitive in today's agricultural market. With
                                            SmartFarm, we've embraced
                                            cutting-edge technologies that have propelled our operations forward. Their
                                            sensor detectors and crop recommendations
                                            are game-changers, offering insights we never thought possible. Thanks to
                                            them, we're not just keeping up; we're leading
                                            the way.</p>
                                        <img src="/static/P2M/images/test.png" alt="#" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-md-6">
                                    <div class="custom">
                                        <div class="d_flex">
                                            <i><img src="/static/P2M/images/customer1.jpg" alt="#" /></i>
                                            <div class="clint">
                                                <h4>Dan Balan</h4>
                                                <span>Client</span>
                                            </div>
                                        </div>
                                        <p>readable English. Many desktop publishing packages and
                                            web page editors now
                                            use Lorem Ipsum as their default model text, and a
                                            search for 'lorem ipsum'
                                            will uncover many web sites still in their </p>
                                        <img src="/static/P2M/images/test.png" alt="#" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom">
                                        <div class="d_flex">
                                            <i><img src="/static/P2M/images/customer2.jpg" alt="#" /></i>
                                            <div class="clint">
                                                <h4>Mor Balan</h4>
                                                <span>Client</span>
                                            </div>
                                        </div>
                                        <p>readable English. Many desktop publishing packages and
                                            web page editors now
                                            use Lorem Ipsum as their default model text, and a
                                            search for 'lorem ipsum'
                                            will uncover many web sites still in their </p>
                                        <img src="/static/P2M/images/test.png" alt="#" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- end customers -->
    <!-- choose -->
    <div class="choose">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Whay choose us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="point text_align_center">
                        <h3>300+</h3>
                        <span>Regula <br>Customers</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="point text_align_center">
                        <h3>30+</h3>
                        <span>Professional <br>Engineering</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="point text_align_center">
                        <h3>300+</h3>
                        <span>Points of Sale <br>Goods</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="point text_align_center">
                        <h3>30+</h3>
                        <span>Awards <br>Won</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- choose -->
    <!-- news -->
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_left">
                        <span>Our</span>
                        <h2>Latest News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-4">
                    <div class="latest">
                        <figure><img src="/static/P2M/images/news1.jpg" alt="#" /></figure>
                        <span>15<br> March</span>
                        <div class="nostrud">
                            <h3>Alteration in somer</h3>
                            <p>has a more-or-less normal distribution of letters, as opposed to using
                                'Content here,
                                content here', making iteditors </p>
                            <a class="read_more" href="news.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="latest box_desho">
                        <figure><img src="/static/P2M/images/news2.jpg" alt="#" /></figure>
                        <span>15<br> March</span>
                        <div class="nostrud">
                            <h3>Alteration in somer</h3>
                            <p>has a more-or-less normal distribution of letters, as opposed to using
                                'Content here,
                                content here', making iteditors </p>
                            <a class="read_more" href="news.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="latest">
                        <figure><img src="/static/P2M/images/news3.jpg" alt="#" /></figure>
                        <span>15<br> March</span>
                        <div class="nostrud">
                            <h3>Alteration in somer</h3>
                            <p>has a more-or-less normal distribution of letters, as opposed to using
                                'Content here,
                                content here', making iteditors </p>
                            <a class="read_more" href="news.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end news -->
    <!-- contact -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage text_align_center">
                        <span>Our Contact</span>
                        <h2>Requste A Call Back</h2>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <form id="request" class="main_form">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input class="form_control" placeholder="Your Name" type="type" name=" Name">
                            </div>
                            <div class="col-md-12">
                                <input class="form_control" placeholder="Phone Number" type="type" name="Phone Number">
                            </div>

                            <div class="col-md-12">
                                <input class="textarea" placeholder="Message" type="type" name="message">
                            </div>
                            <div class="col-md-12">
                                <div class="group_btn">
                                    <button class="send_btn">Send</button>
                                    <button class="send_btn">location</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                width="600" height="430" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
        </div>
    </div>
    <!-- end contact -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3  text_align_left">
                            <h3>Newsletter</h3>
                            <form id="colof" class="form_subscri">
                                <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                                <button class="subsci_btn"><img src="/static/P2M/images/new.png" alt="#" /></button>
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3 text_align_left">
                            <h3> Explore</h3>
                            <ul class="menu_footer">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="Javascript:void(0)">Projects</a></li>
                                <li><a href="testimonail.html">Testimonail</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Recent Posts</h3>
                            <ul class="recent">
                                <li><img src="/static/P2M/images/resent.jpg" alt="#" />ea commodo
                                    consequat. Duis aute
                                </li>
                                <li><img src="/static/P2M/images/resent.jpg" alt="#" />ea commodo
                                    consequat. Duis aute
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3  flot_right text_align_left">
                            <h3>ContacT</h3>
                            <ul class="top_infomation">
                                <li><i class="fa fa-phone" aria-hidden="true"></i>
                                    +01 1234567892
                                </li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">demo@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <div class="row d_flex">
                        <div class="col-md-8">
                            <p>© 2024 All Rights Reserved. Design by Fekher&Safa <a href="https://html.design/">
                                </a></p>
                        </div>
                        <div class="col-md-4">
                            <ul class="social_icon ">
                                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="/static/P2M/js/jquery.min.js"></script>
    <script src="/static/P2M/js/bootstrap.bundle.min.js"></script>
    <script src="/static/P2M/js/jquery-3.0.0.min.js"></script>
    <script src="/static/P2M/js/owl.carousel.min.js"></script>
    <script src="/static/P2M/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/P2M/js/custom.js"></script>
</body>

</html>

{% endblock content %}